<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="USE_BOOST_PRIORITY" value="true" />

    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME" value="../../[resources]/url-detector/url-detector-resources.xml" />

    <add key="BUILD_MODE"    value="single_model" /> <!-- single_model, all_possible_models -->
    <add key="NGARMS"        value="ngram_2"      /> <!-- ngram_1, ngram_2, ngram_3, ngram_4 -->
    <add key="CUT_THRESHOLD" value="cut_1"        /> <!-- cut_0, cut_1, cut_2 -->

    <add key="INPUT_BASE_FOLDER"         value="../../[resources]/language-raw-source-data/"  />
    <add key="INPUT_ENCODING"            value="utf-8" />
    <add key="INPUT_FOLDERS_BY_LANGUAGE" value="other;
                                                slavic;
                                                latin;
                                                german;
                                                russian;
                                                " />
    <add key="CLEAR_CYRILLICS_CHARS_BY_LANGUAGE"     
                                         value="other;
                                                slavic;
                                                latin;
                                                german;
                                                " />
    <add key="USE_PORTION"               value="true"    />
    <add key="MAX_PORTION_SIZE"          value="5000000" />


    <add key="OUTPUT_BASE_FOLDER" value="../../[resources]/language-models-txt/" />
    <add key="OUTPUT_ENCODING"    value="utf-8" />
  </appSettings>
  
  <runtime>
    <gcServer enabled="true" />
  </runtime>  
  
</configuration>