<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONCURRENT_FACTORY_INSTANCE_COUNT"         value="4"/>
    <add key="MAX_INPUTTEXT_LENGTH"                      value="1000000"/>
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"       value="../[resources]/url-detector/url-detector-resources.xml"/>
    <add key="RU_THRESHOLD"                              value="0.5"/>
    <add key="RU_CYRILLIC_LETTERS_PERCENT"               value="20"/>
    <add key="ML_THRESHOLD_PERCENT"                      value="10"/>
    <add key="ML_THRESHOLD_PERCENT_BETWEEN_3_LANGUAGE"   value="8"/>
    <add key="ML_THRESHOLD_DETECTING_WORD_COUNT"         value="5"/>
    <add key="ML_THRESHOLD_PERCENT_DETECTING_WORD_COUNT" value="20"/>
    <add key="ML_THRESHOLD_ABSOLUTE_WEIGHT_LANGUAGE"     value="0.00001"/>
    <add key="ML_MODEL_DICTIONARY_CAPACITY"              value="7199369" /> <!--6568999-->

    <add key="BINARY_MODEL_FOLDER"     value="../[resources]/language-models-bin/" />
    <add key="BINARY_MODEL_FILE_NAMES" value="19-languages-(ngram_2-cut_1)-1.bin;
                                              19-languages-(ngram_2-cut_1)-2.bin;
                                              19-languages-(ngram_2-cut_1)-3.bin;
                                              19-languages-(ngram_2-cut_1)-4.bin;
                                              19-languages-(ngram_2-cut_1)-5.bin;
                                              19-languages-(ngram_2-cut_1)-6.bin;
                                              19-languages-(ngram_2-cut_1)-7.bin;
                                              19-languages-(ngram_2-cut_1)-8.bin;
                                              19-languages-(ngram_2-cut_1)-9.bin;" />
    
    <add key="LANGUAGE_MODELS_FOLDER" value="../[resources]/language-models-txt/"/>
    <add key="RU-RU" value="ru--wiki-(ngram_2-cut_1).txt"/>
    <add key="RU-ML" value="ru--wiki-(ngram_2-cut_1).txt"/>
    <add key="EN"    value="en--wiki-(ngram_2-cut_1).txt"/>
    <add key="NL"    value="nl--wiki-(ngram_2-cut_1).txt"/>
    <add key="FI"    value="fi--wiki-(ngram_2-cut_1).txt"/>
    <add key="SW"    value="sw--wiki-(ngram_2-cut_1).txt"/>
    <add key="UK"    value="uk--wiki-(ngram_2-cut_1).txt"/>
    <add key="BG"    value="bg--wiki-(ngram_2-cut_1).txt"/>
    <add key="BE"    value="be--wiki-(ngram_2-cut_1).txt"/>
    <add key="DE"    value="de--wiki-(ngram_2-cut_1).txt"/>
    <add key="FR"    value="fr--wiki-(ngram_2-cut_1).txt"/>
    <add key="ES"    value="es--wiki-(ngram_2-cut_1).txt"/>
    <add key="KK"    value="kk--wiki-(ngram_2-cut_1).txt"/>
    <add key="PL"    value="pl--wiki-(ngram_2-cut_1).txt"/>
    <add key="TT"    value="tt--wiki-(ngram_2-cut_1).txt"/>
    <add key="IT"    value="it--wiki-(ngram_2-cut_1).txt"/>
    <add key="PT"    value="pt--wiki-(ngram_2-cut_1).txt"/>
    <add key="DA"    value="da--wiki-(ngram_2-cut_1).txt"/>
    <add key="CS"    value="cs--wiki-(ngram_2-cut_1).txt"/>
    <add key="NO"    value="no--wiki-(ngram_2-cut_1).txt"/>
  </appSettings>  
  
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>